/* Author: Suarez, V.V.*/
:root {
    --primary-color: #007979;
    --seconday-color: #24B1B1;
    --tertiaty-color: #9F5B34;
    --neutral-color: #737877;
    --black: #000000;
    --white: #FFFFFF;
}

/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    background-color: var(--white);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Header */

.header-container {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    background-color: #d4d5d56a;
    border-bottom: 2px solid #c3c3c36a;
}

.header-title {
    font-family: "Work Sans", sans-serif;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.container-navigation {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    
}

.header-navigation a:hover{
    text-decoration: underline;
    color:rgb(41, 42, 41);
}


.header-navigation a{
    margin: 0 1.5rem;
    font-family: "JetBrains Mono", monospace;
    font-size: 1.15rem;
    font-weight: bold;
    color: var(--neutral-color);
    width: 100%;
}

.header-button {
    border: none;
    font-family: "JetBrains Mono", monospace;
    font-size: 1.15rem;
    font-weight: bold;
    background-color: var(--primary-color);
    color: var(--white);
    height: 3rem;
    width: 6rem;
    cursor: pointer;
}

.header-button:hover {
    background-color: var(--seconday-color);
    transform: scale(1.1);
}

/* Main */

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    padding: 5rem 2rem;
}

.main-info {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.main-info h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 4rem;
    color: var(--black);
}

.main-info p {
    font-family: "Work Sans", sans-serif;
    font-size: 1.5rem;
    color: var(--neutral-color);
}

.main-button {
    font-family: "Work Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.2rem;
    height: 4rem;
    width: 35%;
    margin-top: 2rem;
    cursor: pointer;
}

.main-button:hover {
    background-color: var(--seconday-color);
    transform: scale(1.05);
}

.main-image{
    width: 65%;
    height: auto;
}

.main-image img{
    border-radius: 0.5rem;
}

/* Our Services */

.our-services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e8e8e8;
    width: 100%;
    padding-bottom: 2.5rem;
}

.our-services-container h2 {
    font-family: "Work Sans", sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    padding: 2rem 0;
}

.examples-our-services {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
    padding: 0 2rem;
}

.example-service {
    background-color: var(--white);
    border-radius: 0.5rem;
    width: 24%;
    height: 27rem;
    border: 1px solid #b2b2b2;
}

.example-service h3{
    font-family: "Work Sans", sans-serif;
    font-size: 2rem;
    color: var(--black);
    width: 100%;
    text-align: center;   
}

.example-service img{
    width: 100%;
    height: 19rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}